<!DOCTYPE html>
<html lang="ja">
    <head>
        <%- include('../_includes/_common.ejs') %> 
        <title>Tenkue App</title>
    </head>
</html>
    <body>
        <%- include('../_includes/_header') %>
        <main>
            <article class="p-room">
                
            </article>
    </body>
</html>
