<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('../_includes/_common.ejs') %> 

        <title>Tenkue Hotel</title>

    </head>
</html>

    <body>
        <%- include('../_includes/_header') %>

        <main>
            <article class="p-areaguide">
              <div class="p-areaguide__img">
                <div class="p-areaguide__img-body"></div>
              </div><!-- p-areaguide__img -->
            </article><!-- p-areaguide -->
            <article class="p-areaguide">
              <div class="p-areaguide__areaguide">
                <div class="p-areaguide__ttl">
                  <h2>AREA GUIDE</h2>
                </div><!-- p-areaguide__-ttl -->
                <div class="p-areaguide__areaguide-content">
                  <p class="p-areaguide__areaguide-content--bold">
                    大阪を代表する観光名所や京都の見どころをご紹介。<br>
                    ぜひ大阪観光の計画にお役立てください。
                  </p>
                  <p class="p-areaguide__areaguide-content--normal">
                    ホテル周辺や、京都観光の人気スポットをご紹介します。<br>
                    梅田・難波・心斎橋周辺などをお楽しみください。
                  </p>
                </div><!-- p-areaguide__areaguide-content -->
              </div><!-- p-areaguide__areaguide -->
            </article><!-- p-areaguide -->
            <article class="p-areaguide">
              <div class="p-areaguide__areamap">
                <div class="p-areaguide__ttl">
                  <h2>AREA MAP</h2>
                </div><!-- p-areaguide__areamap-ttl -->
                <div class="p-areaguide__areamap-map-img">
                  <img src="/asset/image/areaguide_02.png" alt="大阪市">
                </div><!-- p-areaguide__areamap-map-img -->
                <div class="p-areaguide__areamap-around">
                  <div class="p-areaguide__areamap-around-wrap p-areaguide__areamap-around-wrap--north">
                    <div class="p-areaguide__areamap-around-ttl">
                      <h3>大阪・梅田周辺</h3>
                    </div><!-- p-areaguide__areamap-around-ttl -->
                    <div class="p-areaguide__areamap-around-row">
                      <div class="p-areaguide__areamap-around-contents">
                        <img src="/asset/image/access_04.jpg" alt="大阪駅">
                        <p>大阪駅</p>
                        <p class="p-area__areaguide-around--oosaka-paragraph">
                          大阪の中心地で、駅エリアにはノースゲートビルディング、
                          サウスゲートビルディングに入る大丸梅田店、
                          エキマルシェ大阪、ALBi(アルビ)、セントラルコートなどに
                          450店舗以上の個性的なショップやレストラン・カフェ160店舗以上が集結した、
                          まったく新しい、近代的な駅に生まれ変わり、歩くだけでも楽しいスポットです。
                        </p>
                      </div><!-- p-areaguide__areamap-around-contents -->
                      <div class="p-areaguide__areamap-around-contents">
                        <img src="/asset/image/access_07.jpg" alt="スカイビル">
                        <p>スカイビル</p>
                        <p class="p-area__areaguide-around--sky-paragraph">
                          イギリスの有名情報誌が2008年に選出した「世界の建築トップ20」にランクインした
                          梅田スカイビル高さ173mの連結高層ビルの最上階の展望台です。
                          オフィスをはじめショールームやイベントホール、レストラン、
                          ショップに映画館などを備えた複合ビルです。
                        </p>
                      </div><!-- p-areaguide__areamap-around-contents -->
                      <div class="p-areaguide__areamap-around-contents p-areaguide__areamap-around-contents--oosaka-capital">
                        <img src="/asset/image/access_02.jpg" alt="大阪城">
                        <p>大阪城</p>
                        <p class="p-area__areaguide-around--capital-paragraph">
                          大阪城には天守閣をはじめ、街を一望できる展望台や西の丸庭園、
                          大阪城ホール、弓道場などの施設があります。
                          梅や桜の名所としても知られ、他にもツツジなど、
                          折々の花を楽しむことができます。
                        </p>
                      </div><!-- p-areaguide__areamap-around-contents -->
                    </div><!-- p-areaguide__areamap-around-row -->
                  </div><!-- p-areaguide__areamap-aroun-wrap -->
                  <div class="p-areaguide__areamap-around-wrap p-areaguide__areamap-around-wrap--south">
                    <div class="p-areaguide__areamap-around-ttl">
                      <h3>難波・心斎橋周辺</h3>
                    </div><!-- p-areaguide__areamap-around-ttl -->
                    <div class="p-areaguide__areamap-around-row">
                      <div class="p-areaguide__areamap-around-contents">
                        <img src="/asset/image/access_05.jpg" alt="心斎橋商店街">
                        <p>心斎橋商店街</p>
                        <p>
                          なんばから心斎橋までの一駅区間と長く続く商店街でショッピングを楽しめます。
                          「戎橋・心斎橋商店街」約370mは、 なんば駅の高島屋の近くから始まり、
                          そして中間地点にグリコの看板で有名な戎橋があり、「心斎橋商店街」約580mが心斎橋駅まで続いていきます。
                          休日はかなりの混雑で賑わいを見せています。
                        </p>
                      </div><!-- p-areaguide__areamap-around-contents -->
                      <div class="p-areaguide__areamap-around-contents">
                        <img src="/asset/image/access_03.jpg" alt="ユニバーサル・スタジオ・ジャパン">
                        <p>ユニバーサル・スタジオ・ジャパン</p>
                        <p>
                          ハリウッドの映画をテーマにしたテーマパークです。
                          興奮のライドや人気キャラクターたちのショーなど、
                          子どもから大人まで楽しめ、ワールドクラスのエンターテイメントに出会えるパークです。
                        </p>
                      </div><!-- p-areaguide__areamap-around-contents -->
                      <div class="p-areaguide__areamap-around-contents">
                        <img src="/asset/image/access_08.jpg" alt="吉野家">
                        <p>吉野家</p>
                        <p>
                          吉野家は、牛丼を主力商品とする、大手外食チェーンストア。 
                          株式会社吉野家ホールディングスの子会社・株式会社吉野家が、同店の運営企業である。
                          日本国における牛丼チェーン店舗数では2008年9月末以降、すき家に次いで第2位である。
                        </p>
                      </div><!-- p-areaguide__areamap-around-contents -->
                    </div><!-- p-areaguide__areamap-around-row -->
                  </div><!-- p-areaguide__areamap-around-wrap -->
                </div><!-- p-areaguide__areamap-around -->
              </div><!-- p-areaguide__areamap -->
            </article><!-- p-areaguide -->

        </main>

        <%- include('../_includes/_footer.ejs') %>

    </body>
</html>
