<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('./_includes/_common.ejs') %> 

        <title>Tenkue App</title>

    </head>
</html>

    <body>
        <%- include('./_includes/_header') %>

        <main>
            <article class="p-top">
              <div class="p-top-img">
                <div class="p-top-img__body"></div>
              </div><!-- p-top-img -->
            </article>
            <article class="p-top">
              <div class="p-top-article__concept">
                <div class="p-top-article__ttl">
                  <h2>CONCEPT</h2>
                </div><!-- p-top-article__ttl -->
                <div class="p-top-article__content">
                  <p>日本の文化に触れて頂き、日本をより好きになって頂き、お客様・従業員全てが笑顔になれるおもてなしを実現致します。<br>
                    各種交通機関からのアクセスも良く、外国人観光客だけでなく、国内の家族旅行者など、<br>
                    多くのお客様の観光拠点と旅行者とつなぐ場所として、快適で贅沢な空間を提供致します。<br>
                    宿泊期間やご人数の関わらずご利用頂け、タイトなスケジュールになりがちなご予定も出来る限りサポートできるよう、<br>
                    チェックインやチェックアウトのお時間もご相談ください。<br>
                    さらに、長期滞在でもお楽しみ頂けるよう、様々なアクティビティーの実施も予定しております。
                  </p>
                </div><!-- p-top-article__content -->
              </div><!-- p-top-article -->
            </article><!-- p-top-article -->
            <article class="p-top">
              <div class="p-top-article__area-guide">
                <div class="p-top-article__ttl">
                  <h2>AREA GUIDE</h2>
                </div><!-- p-top-article__ttl -->
                <div class="p-top-article__row">
                  <div class="p-top-article__map-img">
                    <img src="/asset/image/top_map.jpg" alt="map">
                  </div><!-- p-top-article__map-img -->
                  <div class="p-top-article__col">
                    <div class="p-top-article__content--area-guide">
                      <p>
                        各観光名所へもスムーズに<br>
                        アクセスできる好立地。<br>
                        大阪を代表する観光名所や大阪の<br>
                        見どころをご紹介。
                      </p>
                    </div><!-- p-top-article__content -->
                    <div class="p-top-article__tourism-img">
                      <img src="/asset/image/top_areaguide_01.jpg" alt="大阪城">
                      <img src="/asset/image/top_areaguide_02.jpg" alt="ユニバーサル・スタジオ・ジャパン">
                      <img src="/asset/image/top_areaguide_03.jpg" alt="大阪駅">
                      <img src="/asset/image/top_areaguide_04.jpg" alt="心斎橋商店街">
                    </div><!-- p-top-article__tourism-img -->
                    <div class="p-top-article__btn">
                      <a href="/areaguide">詳細はこちら</a>
                    </div><!-- p-top-article__btn -->
                  </div><!-- p-top-article__col -->
                </div><!-- p-top-article__row -->
              </div><!-- p-top-article -->
            </article><!-- p-top-article -->
            <article class="p-top-article">
              <div class="p-top-article__room">
                <div class="p-top-article__ttl">
                  <h2>ROOM</h2>
                </div><!--p-top-article__ttl -->
                <div class="p-top-article__room-img">
                  <div class="p-top-article__room-img--room p-top-article__sweet-room">
                    <img src="/asset/image/room_01.jpg" alt="sweet room">
                    <h3>SWEET ROOM</h3>
                    <p>雰囲気漂うプライベート空間。心地よく安らぎへと誘います。</p>
                  </div><!-- p-top-article__room-img--room -->
                  <div class="p-top-article__room-img--room p-top-article__deluxe-room">
                    <img src="/asset/image/room_02.jpg" alt="deluxe room">
                    <h3>DELUXE ROOM</h3>
                    <p>雰囲気漂うプライベート空間。心地よく安らぎへと誘います。</p>
                  </div><!-- p-top-article__room-img--room -->
                  <div class="p-top-article__room-img--room">
                    <img src="/asset/image/room_03.jpg" alt="standard room">
                    <h3>STANDARD ROOM</h3>
                    <p>雰囲気漂うプライベート空間。心地よく安らぎへと誘います。</p>
                  </div><!-- p-top-article__room-img--room -->
                </div><!-- p-top-article__room-img -->
                <div class="p-top-article__btn--room">
                  <a href="/room/">詳細はこちら</a>
                </div><!-- p-top-article__btn -->
              </div><!-- p-top-article__room -->
            </article><!-- p-top-article -->
            <article class="p-top-article">
              <div class="p-top-article__access">
                <div class="p-top-article__access-row">
                  <div class="p-top-article__access-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.0832867159816!2d135.49308241559407!3d34.703079190597734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000e68dc5241021%3A0x4c619b45cc7f0e19!2z44CSNTMwLTAwMDEg5aSn6Ziq5bqc5aSn6Ziq5biC5YyX5Yy65qKF55Sw77yT5LiB55uu77yR4oiS77yR!5e0!3m2!1sja!2sjp!4v1602466001531!5m2!1sja!2sjp" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </div><!-- p-top-article__access-map -->
                  <div class="p-top-article__access-col">
                    <div class="p-top-article__ttl ">
                      <h2>ACCESS</h2>
                    </div><!--p-top-article__ttl -->
                    <div class="p-top-article__access-address">
                      <p>〒530-0001 大阪市北区梅田3丁目1番1号</p>
                      <p>TEL.06-1234-5678(代)</p>
                    </div><!-- p-top-article__access-address -->
                    <div class="p-top-article__btn--access">
                      <a href="/access/">詳細はこちら</a>
                    </div><!-- p-top-article__btn--access -->
                  </div><!--p-top-article__access-col -->
                </div><!-- p-top-article__access-row -->
              </div><!-- p-top-article__access -->
            </article><!-- p-top-article -->

        </main>

        <%- include('./_includes/_footer.ejs') %>

    </body>
</html>